
body {
  background-image: url('../images/background.webp');
  background-size: cover;
  display:flex; 
  flex-direction:column; 
  justify-content: center;
  min-height: 100vh;
}

#symbol-choice {
  height: 30px;
  border-radius: 8px;
}

.content {
  background-color: gray;

}

#symbol_submit {
  display:flex; 
  justify-content: center;
}

#submit {
  margin-top: 5px;
  margin-left: 5px;
  height: fit-content;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 12px;
}
#current_price{
  color: greenyellow;
  text-align: center;
}
#link {
  color: white;
  text-align: center;
}